<div class="flex gap-4">
    <ul class="flex flex-col gap-4 border-r border-gray-500 pr-4">
        @for (book of bookList; track $index) {
        <li>
            <p class="text-gray-500">{{ book.name }}</p>
            @if (book.list.length) {
            <ul class="flex flex-col gap-1">
                @for (item of book.list; track $index) {
                <li class="py-1.5 px-1 book">{{ item.name }}</li>
                }
            </ul>
            }
        </li>
        }
    </ul>
    <div class="w-full">
        <h2 class="font-bold text-xl">{{ bookTitle }}</h2>
        @for (book of bookMenuList; track $index) {
        <div class="mt-4">
            <h3 class="text-lg px-2 bg-gray-300">{{ book.subTitle }}</h3>
            @if (book.list.length) {
            <ul class="article-list mt-3">
                @for (note of book.list; track $index) {
                <div class="article-row">
                    <div class="icon">
                        <i class="material-icons leading-7 text-lg">eco</i>
                    </div>
                    <p>
                        <a [routerLink]="'/note/detail/' + note.id">{{ note.title }}</a>
                    </p>
                </div>
                }
            </ul>
            }
        </div>
        }
    </div>
</div>